/.DS_Store
/.anima
/_DataURI
/assets.squarespace.com
/cdn.weglot.com
/fonts.gstatic.com
/images.squarespace-cdn.com
/p.typekit.net
/static1.squarespace.com
/use.typekit.net
/www.google.com
/www.gstatic.com